{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Wildlife</h2>
        <p>The sighting has been added successfully</p>
        <a href="/sightings" class="otherbuttons">View sightings</a>
    </div>
{{/partial}}

{{> layout.hbs}}x